# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env/
*.venv
.venv/
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity Asset Store
/[Aa]ssets/[Aa]sset[Ss]tore/

# Miscellaneous
.DS_Store
Thumbs.db
*.bak
*.swp
*.tmp
*.tmp.*
*.old
*.orig

# Logs
*.log
*.stackdump

# IDEs and Editors
.vscode/
.idea/
*.iml